<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Rates</th>
    </tr>
  </thead>
  <tbody>
    {{#each cur}}
    <tr>
      <th scope="row"></th>
      <td>{{cur}}</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    {{/each}}
  </tbody>
</table>