<nav class="navbar navbar-expand-lg pb-0">
    <a class="navbar-brand">
      <img src="/images/Window.png" height="60" alt="Logo" id="logo-ws" class="logo-small animate__animated animate__zoomIn">
    </a>
    <p class="welcome text-primary text-sm-center animate__animated animate__zoomIn col offset-md-4">Welcome! 
      <span class="member-name text-secondary"></span>
    </p>
    <a class="btn btn-sm btn-outline-dark" id="logout">
      <span class="logout">Logout</span>
      <i class="material-icons fs-2">exit_to_app</i>
    </a>
</nav>

<div class="container-fluid main">
  <h3 id="subtitle" class="animate__animated animate__heartBeat col-md-9">Track your shoppin' favorites!</h3>
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-10">
      <div class="row no-gutters">
        <div class="container text-center">
        </div>
      </div>
        <form id="add-item-form" style="display: flex">
          <div class="input-group mb-3">
            <input type="text" id="url-input" id="url-input" class="new-item form-control" placeholder="Paste URL to watch for price drop...">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit">
                <i class="material-icons fs-2">add_shopping_cart</i>
                Add Item</button>
            </div>
          </div>
        </form>
        <!-- Spinner while item is loading -->
        <div class="loader invisible" role="status"></div>
        <div class="error-msg alert alert-warning invisible" role="alert">
          Unable to get this item!
        </div>
        <!-- this is where categories should show up -->
        <div class="" id="all-items">
          <div class="row justify-content-end mb-2">
            <div class="col">
              <h3 class="text-center text-primary animate__animated animate__fadeIn">Your Saved Items</h4>
            </div>
            <button id="update-all" class="btn btn-outline-warning mr-3 pr-4 text-dark">
              <div class="spinner-border spinner-border-sm text-muted spinner-small invisible mb-1" role="status">
                <span class="sr-only">Loading...</span>
              </div>
             <span id="updating"> Check All</span></button>
            </div>
            {{#each items}}
            {{> items/item-block}}
            {{/each}}
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
      <div class="card pt-2 mb-2">
        <div class="card-body">
          <p class="card-title text-muted text-center" id="date"></p>
            <table id="table" class="table table-sm text-center">
            <thead>
              <tr>
                <th scope="col">cur</th>
                <th scope="col">rate</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <a href="https://www.kijiji.ca/" target="blank">
          <img class="img-fluid my-2" src="/images/kijiji.jpg" alt="Kijiji logo">
        </a>
      </div>
      <div class="col">
        <a href="https://www.amazon.ca/" target="blank">
          <img class="img-fluid my-2" src="/images/amazon.jpg" alt="Amazon logo">
        </a>
      </div>
      <div class="col">
        <a href="https://www.ebay.com/" target="blank">
          <img class="img-fluid my-2" src="/images/ebay.jpg" alt="Ebay logo">
        </a>
      </div>
      <div class="col">
        <a href="https://www.bestbuy.ca/" target="blank">
          <img class="img-fluid my-2" src="/images/bestbuy.jpg" alt="Best Buy logo">
        </a>
      </div>
      <div class="col">
        <a href="https://www.getoutsideshoes.com/" target="blank">
          <img class="img-fluid my-2" src="/images/getoutside.jpg" alt="Get Outside logo">
        </a>
      </div>
      <div class="col py-4">And many more...</div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/dashboard.js" type="text/javascript"></script>


