<div class="container-fluid">
  <div class="row">
    <div class="container text-center" id="logo">
      <img class="rounded mx-auto" src="./images/Window.png" class="img-fluid" alt="Window Shoppin' logo">
      <h2 id="subtitle">Welcome <span id="member-name"></span></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container d-flex" id="new-item-container">
        <div class="col-md-12 panel" id="add-new-item">
          <tbody>
            <tr id="form-row">
              <form id="add-item-form" style="display: flex">
                <td colspan="12">
                  <input class="new-item form-control" placeholder="Enter an Item URL" type="text" id="url-input"/>
                </td>
                <td><button type="submit" class="btn btn-success">Add Item</button>
                </td>
              </form>
            </tr>
          </tbody>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- this is where categories should show up -->
      <div class="col-md-12 panel" id="all-items">
        <h4>Saved Items</h4>
        {{#each Items}}
        {{> Items/item}}
        {{/each}}
      </div>
    </div>


  </div>
</div>
</div>
  <script src="../public/js/dashboard.js" type="text/javascript"></script>
