body {
  background-image: url("../images/background-image.jpg");
  background-repeat: repeat;
  font-family: "Montserrat Alternates", sans-serif;
}

.fade {
  opacity: 1;
}

.jumbotron, .bg-trans {
  background-color: rgba(234, 237, 240, 0.5);
}

h1 {
  font-family: "Sonsie One", cursive;
  text-align: center;
  color:darkblue;
}

h2 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color:maroon
}

h3 {
  text-align: center;
  color:maroon
}

.error-msg {
  position: fixed;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: red;
  border-color: gray;
}

.categories {
  color: darkslategray
}

.welcome {
  font-style: italic;
  font-size: 24px;
}

.window-text {
  font-family: "Sonsie One", cursive;
  font-weight: bold;
  color: rgb(1, 86, 223)
}

.shoppin-text {
  font-family: "Sonsie One", cursive;
  font-weight: bold;
  color: rgb(246, 217, 48)
}

.way-text {
  font-family: "Sonsie One", cursive;
  font-weight: bold;
  color: rgb(246, 154, 48)
}

.blue-text {
  font-family: "Sonsie One", cursive;
  font-weight: bold;
  color: rgb(35, 193, 255)
}

img.intro {
  max-width:220px;
  max-height:220px;
  width: auto;
  height: auto;

}

.intro-big {
  width: auto;
  height: auto;
}

img.fav {
  max-width:30px;
  max-height:30px;
  width: auto;
  height: auto;
}

#logo {
  margin-top: 60px;
}

.logo-small {
  transition: transform .2s ease-in;
}

.logo-small:hover {
  transform: scale(1.2);
}

.a-size-base-plus {
  font-family: "Montserrat Alternates", sans-serif;
  color: maroon;
  font-size: 1.5rem;
}

.card, .signup
.card, .login {
  background-color: rgba(234, 237, 240, 0.5);
}

i {
  vertical-align: middle;
}

.spinner-small {
  vertical-align: middle;
}

.card-img-left {
  max-width:200px;
  min-width: 100px;
  max-height:200px;
  object-fit: contain;
}

.card-columns {
  display: inline-block;
}

.a-size-base-plus {
  font-size: 1rem;
}

#item-description, #item-description ~ ul {
  font-size: 14px;
}

.item-title{
  font-size: 16px;
  color: #212529;
}

list-item {
  font-size: 0.9rem;
}
a:hover {
  color: rgb(255, 196, 0);
  background-color: transparent;
  text-decoration: underline;
  color: #b6b6b6;
}

.item-card > ul {
  font-size: 14px;
}

.loader {
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate(-50%, -50%);
  border: 10px solid  rgba(234, 237, 240, 0.5);
  border-radius: 50%;
  border-top: 10px solid #ffd000;
  border-right: 10px solid #ffd000;
  border-bottom: 10px solid  #ffd000;
  width: 6rem;
  height: 6rem;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 2;
}

textarea {
  resize: none;
}

.updated {
  font-size: 3rem;
  position: absolute;
  top: 10px;
  left: 20px;
  animation: pulse 1s linear infinite;
}

.view-icon {
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  80% {
      opacity: 0;
      transform: scale(1.5);
  }
  100% {
      opacity: 0;
      transform: scale(2);
  }
}

@media only screen and (max-width: 1024px) {
  .view-icon {
    display: block;
  }

  .view-text {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .logo-small {
      max-width: 100px;
      object-fit: contain;
  }
  .welcome {
    font-size: 12px;
  }
  #subtitle{
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }

  .price-row {
    float: none!important;
  }

  .logout {
    display: none;
  }

  ul {
    padding-left: 5px;
  }

  

}

@media only screen and (max-width: 280px) {
  .welcome {
    font-size: 0.5rem;
  }
}
