<div class="card col-12">
    <div class="card-body item-card" data-item-id="{{this.id}}">
        
        <div class="row">
          
        <h1 class="card-text" id="item-description">{{this.description}}</h1>
    </div>
</div>