<div class="card col-12">
    <div class="card-body item-card" data-item-id="{{id}}">
        
        <div class="row">
          
        <h1 class="card-text" id="item-description">{{description}}</h1>
    </div>
</div>